#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  box-sizing: border-box;
}

.갤러리전체 {
  text-align: center;
  padding: 20px;
}

.썸네일목록 {
  margin-top: 20px;
}

.확대이미지 img {            /* className img : className이 '확대이미지'인 요소 안에 있는 img 태그에만 이를 적용하라는 것 */
  width: 400px;
  border-radius: 10px;
}

.썸네일 {
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.썸네일:hover {          /* .썸네일:hover : class=썸네일 인 요소에 마우스를 올렸을 때 나타나는 스타일 */
  border-color: #666;      /* 기본 상태에는 border가 (2px solid transparent)투명했다가 마우스를 올리면 color가 (#666)회색으로 바뀜*/
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.Mordal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
